{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>FFD| {% block title%}{% endblock %}</title>
    <!-- Add this line to include FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-wk9mGVs1a7FaplXFxBPYTK1xFX8KqF6xyOp7xu5sZlEiw0vVUoWS02eKcaC8kMxm" crossorigin="anonymous">

    <!-- CSS files -->
    <link href="{% static 'dist/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/demo.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/demo.css' %}" rel="stylesheet"/>

    <style>
    @import url('https://rsms.me/inter/inter.css');
    :root {
        --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }
    body {
        font-feature-settings: "cv03", "cv04", "cv11";
    }
    </style>

    
    <style>
        /* CSS for Animated wind effect */
        .wind-indicator {
            display: inline-block;
            position: relative;
            width: 20px; /* Adjust the width as needed */
            height: 20px; /* Adjust the height as needed */
        }

        .wind-indicator-line {
            position: absolute;
            height: 100%;
            width: 3px; /* Adjust the width of each wind line */
            background-color: #00ff00; /* Adjust the color as needed */
            animation: windAnimation 1s infinite linear; /* Adjust the animation duration as needed */
            transform-origin: 50% 100%;
        }

        @keyframes windAnimation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }


    </style>

    <div class="page">
      <!-- Navbar -->
      
      <header class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar">
            <div class="container-xl">
              <ul class="navbar-nav">
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                  <a href="{% url 'home' %}">
                    <img src="{% static 'logo.png' %}" width="110" height="64">
                  </a>
                </h1>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}" >
                    <span class="nav-link-title">
                      Home
                    </span>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'location' %}" >
                    <span class="nav-link-title">
                      Location
                    </span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'map' %}" >
                    <span class="nav-link-title">
                      Map
                    </span>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}" >
                    <span class="nav-link-title">
                      About
                    </span>
                  </a>
                </li>
              </ul>
             
              <div class="navbar-nav flex-row order-md-last">
            
                <div class="d-none d-md-flex">
                  <div class="nav-item dropdown d-none d-md-flex me-3">
                    <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                      <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
                      <span class="badge bg-red"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Last updates</h3>
                        </div>
                        <div class="list-group list-group-flush list-group-hoverable">
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                              <div class="col text-truncate">
                                <a href="#" class="text-body d-block">Example 1</a>
                                <div class="d-block text-secondary text-truncate mt-n1">
                                  Change deprecated html tags to text decoration classes (#29604)
                                </div>
                              </div>
                              <div class="col-auto">
                                <a href="#" class="list-group-item-actions">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                      <span class="avatar avatar-sm" style="background-image: url({% static 'profile.jpg' %})"></span>
                    </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="" class="dropdown-item">Settings</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      
      {% block content %}

      {% endblock %}
          
    <!-- Libs JS -->
    <script src="{% static 'dist/libs/apexcharts/dist/apexcharts.min.js' %}" defer></script>
    <script src="{% static 'dist/libs/jsvectormap/dist/js/jsvectormap.min.js' %}" defer></script>
    <script src="{% static 'dist/libs/jsvectormap/dist/maps/world.js' %}" defer></script>
    <script src="{% static 'dist/libs/jsvectormap/dist/maps/world-merc.js' %}" defer></script>
    <!-- Tabler Core -->
    <script src="{% static 'dist/js/tabler.min.js' %}" defer></script>
    <script src="{% static 'dist/js/demo.min.js' %}" defer></script>
 
    
  </body>
</html>